*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 15px;
  color: white;
  background-color: #2d3945;
  text-transform: uppercase;
  padding: 27px 0;
}

.intro {
  margin: 0 auto;
  padding: 10px 15px 0;
  max-width: 400px;
}

h2 {
  font-size: 20px;
  margin: 30px 0 10px 0;
}

p {
  color: #617383;
  padding-bottom: 35px;
  margin: 0;
}

.intro-text {
  border-bottom: 4px solid #2d3945;
}

form {
  margin: 0 auto;
  padding: 5px 15px 10px 15px;
  text-align: left;
  max-width: 400px;
}

.border {
  border-bottom: 2px solid #2d3945;
}

fieldset {
  margin: 28px 0 0;
  border: none;
  padding: 5px 0 30px 0;
}

legend {
  padding: 0;
}

.contact-header {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  border: none;
  font-size: 14px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  border-radius: 5px;
  font-family: "Merriweather", sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid rgba(70, 105, 139, 1);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  box-shadow: 0 0 1px 2px rgba(70, 105, 139, 1);
}

::-webkit-input-placeholder {
  font-style: italic;
  text-align: right;
}

select {
  padding: 6px;
  height: 50px;
  border-radius: 5px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4ebbb5;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: none;
  font-family: 'Merriweather', sans-serif;
}

.contact {
  border-bottom: 2px solid #2d3945;
}

.contact label {
  margin-top: 15px;
}

label {
  display: inline-block;
  margin: 5px 0 15px;
  color: #617383;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

#zip {
  width: 50%;
  display: block;
}

.news-format {
  margin-top: 10px;
}


/*****Styling Checkboxes and radio****/

.radio label,
.checkbox label {
  padding-left: 25px;
  margin-right: 15px;
}

input[type=radio] {
  display: none;
}

.radio label:before,
.checkbox label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #eff0f1;
}

.radio label:before {
  border-radius: 8px;
}

input[type=radio]:checked + label:before {
  content: "\2022";
  color: #2d3945;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
  border: 2px solid #2d3945;
}

input[type=checkbox] {
  display: none;
}

.checkbox label:before {
  border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
  content: "\2713";
  font-family: arial;
  font-size: 20px;
  color: #2d3945;
  text-align: center;
  line-height: 15px;
  border: 2px solid #2d3945;
}


/**Text Area**/

.input {
  margin-top: 15px;
}

textarea {
  height: 100px;
}

.copyright {
  margin: 30px 0;
}

@media screen and (min-width: 1200px) {
  .intro,
  form {
    max-width: 600px;
  }
  .intro-text {
    padding-bottom: 50px;
  }
  h2 {
    margin-top: 55px;
  }
  .contact {
    margin-top: 48px;
  }
  #zip {
    width: 33%;
    float: left;
  }
  .contact label {
    margin: auto 0;
    padding: 15px 0 35px;
    float: left;
    width: 25%;
    clear: both;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 75%;
    float: right;
  }
}